* {
    box-sizing:  border-box;
    font-family: Gill Sans, sans-serif;
    font-size: 25px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    
}


body {
    padding: 0;
    margin: 0;
    background-color: #0041C2;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 10px 2px;
    margin-top: 25vh;
    
}



.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #56A5EC;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    padding: 6px;
    outline: none;
    margin: 1px;
    
}